@use "scss/_variables.scss"as *;
@use "sass:color";
@use "sass:list";

h1 {
	color: $primary;
	font-weight: 400;
	font-size: 22px;
	line-height: 20px;
	text-align: center;
	width: 100%;

	input {
		all: inherit;
	}
}

div.list {
	border-radius: 10px;
	// phone
	width: calc(100% - $toolbar - 8px);
	margin-left: 8px;
	padding: 1px;

	@media (min-width: 640px) {
		// tablet
		margin: auto;
		width: 75%;
	}

	@media (hover: hover) {
		// desktop
		margin: auto;
		width: 66.67%;
	}

	li > textarea {
		all: inherit;
		position: relative;

		&::placeholder {
			color: inherit;
			opacity: 60%;
		}
	}

	> ul {
		padding: 8px;
		width: 100%;

		// Title
		> li {
			list-style-type: none;
			font-size: 22px;

			> textarea {
				font-weight: 600;
			}
		}
	}

	li:not(.note) {
		list-style-type: none;
		font-size: 20px;
	}

	li.note {
		list-style-type: disc;
		font-size: 14px;
	}

	// mobile
	@media (max-width: 640px) {
		li:not(.note) {
			font-size: 17px;
		}

		li.note {
			font-size: 13px;
		}
	}

	@each $color in $colors {
		&.color-#{list.index($colors, $color)} {
			background: color.change($color, $alpha: 0.4);
			color: $color;

			// First layer of the bottom
			> div {
				background: $color;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}

	// Second layer of the bottom
	> div > div {
		background: rgba(255, 255, 255, 0.8);
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		// Icon container
		> div {
			text-align: right;

			// Icons
			> span {
				margin: 0 8px;
				font-size: 36px;
			}
		}
	}

	margin-top: 10px !important;
}

ul {
	padding-left: 20px;
}