/// Used for the background of mind maps
$colors: (
	#4f6ba2,
	#4f7aa2,
	#4f84a2,
	#4f93a2,
	#4f9da2,
	#4fa25c,
	#4fa270,
	#4fa27a,
	#4fa28e,
	#4fa29d,
	#51a24f,
	#696cb6,
	#6c7ebd,
	#6fa24f,
	#7469b6,
	#7d4fa2,
	#8269b6,
	#82a24f,
	#8c4fa2,
	#9b4fa2,
	#9ba24f,
	#a24f4f,
	#a24f6d,
	#a24f7c,
	#a24f8b,
	#a24f9a,
	#a2544f,
	#a25e4f,
	#a2634f,
	#a26d4f,
	#a2724f,
	#a2814f,
	#a2904f,
	#a29a4f,
	#ac5454,
	#ac545f,
	#c3b424
);

/*
 * Toolbar dimension (n)
 * 			#####
 *			#	#
 *			# n #
 *			#	#
 * ##########	#
 * # 	n		#
 * ##############
 */
$toolbar: 56px;
$status: #e08080;

$primary: #5E4FA2;