@use "./_variables.scss" as *;
@use "./_mixins.scss" as *;

* {
	box-sizing: border-box;
	stop-color: inherit;
}

html, body {
	@include square(100%);
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	@include square(100%);
	overflow: scroll;
}

.material-icons {
	display: inline-block;
}